.light-background {
  background-color: #fff;
  color: #22223e; /* cor primária */
}

.primary-background {
  background-color: #22223e; /* cor primária */
  color: #fff;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  display: block;
  position: relative;
  box-sizing: border-box;
  stroke: #ff6d70; /* cor secundária */
  stroke-width: 3px;
  transform-origin: 50%;
  -webkit-animation: line 1.6s cubic-bezier(0.4, 0.0, 0.2, 1) infinite, rotate 1.6s linear infinite;
}

.spinner-white {
  box-sizing: border-box;
  stroke: #fff;
  stroke-width: 3px;
  transform-origin: 50%;
  -webkit-animation: line 1.6s cubic-bezier(0.4, 0.0, 0.2, 1) infinite, rotate 1.6s linear infinite;
}

.text {
  display: block; /* Os textos sempre devem aparecer abaixo do loader */
  position: absolute;
  font-family: "Montserrat Medium";
  margin-top: 48px;
}

@-webkit-keyframes rotate {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(450deg);
  }
}
@-webkit-keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    transform: rotate(0);
  }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    transform: rotate(90deg);
  }
}
