*, *:before, *:after {
	box-sizing: border-box;
	position: relative;
}

svg {
	display: block;

	margin: 0; padding: 0;
}

html, body {
	width: 100%; height: 100%;

	margin: 0; padding: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: #FFFFFF;
}

.spinner {
	width: 66px; height: 66px;

	animation: contanim 2s linear infinite;
}

$colors: #22223E, #FF4B4F, #22223E, #FF4B4F;
$d: 175.6449737548828;

svg {
	width: 100%; height: 100%;

	left: 0; top: 0;
	position: absolute;

	transform: rotate(-90deg);

	@for $i from 1 through 2 {
		&:nth-child(#{$i}) circle {
			stroke: nth($colors, $i);
			stroke-dasharray: 1, 300;
			stroke-dashoffset: 0;

			animation: strokeanim 2s calc(.5s * (#{$i})) ease infinite;
			transform-origin: center center;
		}
	}
}

@keyframes strokeanim {
	0% {
    stroke-dasharray: 1, 300;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 120, 300;
    stroke-dashoffset: -$d / 3;
  }
  100% {
    stroke-dasharray: 120, 300;
    stroke-dashoffset: -$d;
  }
}

@keyframes contanim {
	100% {
		transform: rotate(360deg)
	}
}
